
.logo span {
    font-family: raleway, sans serif;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;

}
.logo {
    color: #2E2F42;
    font-family: Raleway, sans serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;

}
.uno {
    font-style: normal;
    word-spacing: 40px;
}

head:hover {
    color: rgb(129, 5, 102);
  
}
a {
    text-decoration: none;}


.effective {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
   
}
h2 {    
    color: white;
    text-align: center;
    font-size: 56px;
    font-family: roboto, sans serif;
    font-style: normal;
    margin-top: 168;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
     padding-top: 188px;
    padding-left: 472;
    padding-right: 472;
}
.pindot {
    color: white;
    border-radius: 4px;
    text-align: center;
    background: #4D5AE5;
    cursor: pointer; 
    padding-left: 636;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
button {
   
    
    
   
    
   
  
   
}
button:hover {
    color:blue;
    background-color: aqua;
   
}
.strat {
    font-family: roboto, sans serif;
    font-style: normal;
    
}
h3 {
    color: #2E2F42;
    font-family: roboto, sans serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .4px;

}
.doing {
    color: #2E2F42;
    font-family: roboto, sans serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.team {
    color: #2E2F42;
    font-family: roboto, sans serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
footer {
    background-color: #2E2F42;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.logo2 span {
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.logo2 {
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}
.footp {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.pointer {
    cursor: pointer;
}